body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(93, 194, 177);
}
h1{
    font-size: 30px;
   color: rgba(20, 6, 6, 0.726);
}
.solution-section {
  text-align: center;
  padding: 40px;
  background: linear-gradient(to bottom, #e0ffe0, #ffffff);
  border-radius: 20px;
  margin: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.solution-points p {
  font-size: 20px;
  color: #333;
  margin: 15px 0;
}

.solution-image img {
  margin-top: 30px;
  width: 40%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.last-image {
  text-align: center;     
  margin-top: 40px;       
}

.last-image img {
  width: 750px;           
  height: 500px;
  border-radius: 20px;
}